<!doctype html>
<html>
<head>
    <title>Link Up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <nav>
        <ul>
            <li class="hide"><a href="#">Sneakers</a></li>
            <li class="show"><a href="#">Releases</a></li>
            <li class="show"><a href="#">Sing up</a></li>
            <li class="show"><a href="#">Login</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div id="topLeft">

        </div>
        <div id="topRight">

        </div>
        <div id="bottomLeft">

        </div>
        <div id="bottomRight">

        </div>
    </main>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23039BE5&ctz=America%2FNew_York&src=ZGU4aDRvNzE3Zm92NWdtMDBpdGowYTcxZTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23C0CA33" style="border:solid 1px #777" width="900" height="600" frameborder="0" scrolling="no"></iframe>
</body>
</html>
