<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Learn with NWI</title>
  </head>
  <body>
  <!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Forex</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Psychology</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Golden Rule</button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <!----Forex-->
  <div class="tab-content">
    <div class="tab-pane active" id="Forex" role="tabpanel" aria-labelledby="Forex-tab">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">What is Forex? (FX)</h2>
          <figure class="text-center">
            <blockquote class="blockquote">
              <p><em>“The goal of a successful trader is to make the best trades."</em></p>
            </blockquote>
          </figure>
          <p>The <strong>foreign exchange market</strong> is where currencies are traded. Currencies are important because they enable purchase of goods and services locally and across borders. International currencies need to be exchanged to conduct foreign trade and business.</p>  
            <br>
        <p>If you are living in the United States and want to buy cheese from France, then either you or the company from which you buy the cheese has to pay the French for the cheese in euros (EUR). This means that the U.S. importer would have to exchange the equivalent value of U.S. dollars (USD) into euros.</p>
        <span><h3>Key Take Aways:</h3>
          <ol>
          <li>You can earn the <a href="https://www.investopedia.com/terms/i/interest-rate-differential.asp">interest rate differential</a> between two currencies.</li>
          <li>You can profit from changes in the exchange rate.</li>
          </ol>
        </span>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p><strong>Before Moving forward:</strong> At NWI, we pride ourselves on being fully transparent. It's important to note that the information you are receiving in this learning section can be googled and found in places such as <a href="https://www.babypips.com/learn/forex/what-is-forex">BabyPips.</a> Baby pips is the most reputable place on the net for mostly unbiased information about forex.</p>
          <br>
          <p>In a nutshell if you are still confused; You came here to learn about forex and how the power of this financial market can impower your life. We want to help impower you by giving you information that has been studied for years... and break it down to you in a way thats meaningful and saves you heart break from learning and taking paid courses somewhere else.</p>
          <br>
          <p><strong>Take the time to read this article</strong><a href="https://www.babypips.com/learn/forex/what-is-forex"> ME!</a> It is recommended to skip down to the graphs and the point here is to get a small understanding of the volume and much of it is being traded compared to other popular financial markets. No worries, there is a lot going on but the basis right now is to understand what forex is and why it can be a viable asset for a retail trader like yourself! If you havent already you should get a note boook to take notes, especially to write down your review answers. There is no technical right answer, the goal is to get your aquainted with your new best and worst friend...financial markets.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <em>Review</em>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">What is Forex?</li>
          <li class="list-group-item">How can you make money with forex?</li>
          <li class="list-group-item">Why is volume imporant with financial markets?</li>
        </ul>
      </div>
    </div>
    <!---Psychology----------->
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="Psychology-tab">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">My Psychology?</h2>
          <figure class="text-center">
            <blockquote class="blockquote">
              <p><em>“Focus, patience, wise discernment, non-attachment —the skills you acquire in meditation and the skills you need to thrive in trading are one and the same.”</em></p>
            </blockquote>
          </figure>
          <strong><p>Pyschology is by far the single skill you can develop that can make or break your trading career!</p></strong> We highly recommend these techniques to conquor your mind so you may conquor the charts: <br>
          <a href="https://open.spotify.com/playlist/1YizSCKtPXz3BYaccZWRVA">Mindfulness</a>
          <br>
          <a href="https://www.amazon.com/Who-Moved-My-Cheese-audiobook/dp/B07F7LS2ZW/ref=sr_1_32?crid=2643R13PLTLYO&keywords=trading+psychology&qid=1638469160&sprefix=trading+psy%2Caps%2C156&sr=8-32">Reading</a>
          <br>
          <a href="https://simple.life/">Body and Soul</a>
        </div>
      </div>
    </div>
    <!----Golden Rule-------->
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="Golden Rule-tab">
      <div class="card">
        <div class="card-body">
          This is some text within a card body. d
        </div>
      </div>
    </div>
    




    <!---Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>